#Importando e Exportando dados com Python

##Importando o DF

###Preparando o ambiente

- Importando a biblioteca Pandas

In [3]:
import pandas as pd

- Recebe o arquivo CarPrice_Assigment
- Cria um DataFrame sem cabeçalho

In [4]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(url, header = None)

- Apresenta as 5 primeiras linhas do dataframe

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

###Modificando informações no DF

- Define o novo nome das colunas

In [6]:
headers = ["Symboling","Normalized-losses","Make","Fuel-type","Apiration","Num-of-doors","Body-style",
           "Drive-wheels","Engine-location","Wheel-base","Length","Width","Heigh","Curb-weight","Engine-type",
           "Num-of-cylinders","Engine-size","fuel-system","Bore","Stroke","Compression-ratio","Horsepower",
           "Peak-rpm","City-mpg","Highway-mpg","Price"]
df.columns = headers

- Apresenta as 5 primeiras linhas do novo DF

In [7]:
df.head(5)

,Symboling,Normalized-losses,Make,Fuel-type,Apiration,Num-of-doors,Body-style,Drive-wheels,Engine-location,Wheel-base,...,Engine-size,fuel-system,Bore,Stroke,Compression-ratio,Horsepower,Peak-rpm,City-mpg,Highway-mpg,Price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

##Exportando o DF

- Salva o DF em um arquivo .csv

In [ ]:
path="/automobile.csv"
df.to_csv(path)

- Possíveis formatos de se trabalhar com o Pandas

<table style="border-collapse: collapse; width: 100%;">
<tbody>
<tr>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;"><strong>Formato</strong></td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;"><strong>Como realizar a leitura</strong></td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;"><strong>Como realizar a exportação</strong></td>
</tr>
<tr>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;"><strong>CSV</strong></td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">pd.read_csv()</td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">df.to_csv()</td>
</tr>
<tr>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;"><strong>JSON</strong></td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">pd.read_json()</td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">df.to_json()</td>
</tr>
<tr>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;"><strong>EXCEL</strong></td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">pd.read_excel()</td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">df.to_excel()</td>
</tr>
<tr>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;"><strong>SQL</strong></td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">pd.read_sql()</td>
<td style="width: 33.3333%; border-style: solid; border-color: #000000; text-align: center;">df.to_sql()</td>
</tr>
</tbody>
</table>
&nbsp;